@import "neat-helpers";

// Display visual grid
// $visual-grid: true !global;
$visual-grid: false !global;
$visual-grid-color: #d5eefb !global;
$visual-grid-index: front !global;

$max-width: 1280px;