.container {
	height: 100%;
	overflow: hidden;
	position: relative;
	border-bottom: solid 0.5px $grey;
	box-shadow: 0 5px 15px rgba($copy-black, 0.1);
}

.container--full {
	@extend .container;
	height: 100vh;
}

.container__content {
	@include outer-container();
}

.bio__article {
	@include span-columns(6);
	@include omega;
	padding-right: 2rem;
}

.bio__copy--short {
	@include span-columns(5 of 6);
}

.press__comments {
	min-height: 80vh;
	width: 89.5rem;
	margin: 0 auto;
	display:flex;
	flex-wrap: wrap;
	align-content: center;
}

.press__box {
	width: 33.3333%;
	height: 29.8rem;
}

.tour {
	padding: 10rem 0;
}

.tour__image {
	@include span-columns(5);
	height: 66rem;
	border-radius: 2rem;
}

.tour__dates {
	@include span-columns(6);
	@include shift(1);
}

.tour__date, .tour__city, .tour__location, {
	display: inline-block;
	padding-right: 3rem;
}

.tour__date {
	width: 7rem;
}

.contact__content {
	@include span-columns(5);
	@include shift(7);
}

.contact__form {
	@include span-columns(4 of 5);
	@include shift(1);
}