.container {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.container__content {
	@include outer-container();
}

.bio__article {
	@include span-columns(6);
	@include omega;
}

.bio__copy--short {
	@include span-columns(5 of 6);
}
